doctype html
html(lang="en")
  head
    title= Title
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script.
      var gon = !{JSON.stringify(gon)};
  body
    .container-fluid
      #chat
      // block content
    script(src='/assets/main.js')
